{% extends '_base.html' %}
{% block content %}

{% include 'header.html' %}


<!-- Container starts here -->
<div class="container mt-5 px-0 mb-24">
    <!-- First row -->
    <div class="row mb-10">
        <!-- First column -->
        <div class="col-sm">
            <img class="img-responsive" src="{{ photos|random }}">
        </div>
        <!-- First column end -->

        <!-- Second column -->
        <div class="col-sm">
            <h3 class="text-primary mb-3"> {{ place.business_name }} </h3>
            <p class="text-black mb-3">
                <span class="text-primary">Inspection Description:</span>
                {{ place.violation_description }}
            </p>
            <p class="text-black mb-3">
                <span class="text-primary">Address:</span> {{ place.address }}, San Francisco, CA
            </p>
            <p class="text-black mb-3">
                <span class="text-primary">Inspection Date:</span> 12/11/2017
            </p>
            <p class="text-black mb-3">
                <span class="text-primary">Inspection Type:</span> {{ place.inspection_type }}
            <p class="text-black mb-3">
                <span class="text-primary">Phone:</span> {{ place.phone }}
            </p>
            <p class="text-black mb-3">
                <span class="text-primary">Risk Category:</span> 
                {% if place.risk_category == 'High Risk' %}
                    <span class="badge bg-danger">High Risk</span>
                {% elif place.risk_category == 'Moderate Risk' %}
                    <span class="badge bg-warning">Moderate Risk</span>
                {% else %}
                    <span class="badge bg-success">Low Risk</span>
                {% endif %}
            </p>
            <p class="text-black mb-3">
                <span class="text-primary">Inspection Score:</span>
                {% if place.inspection_score >= 80 %}
                    <span class="badge bg-success">{{ place.inspection_score }}</span>
                {% elif place.inspection_score >= 60 and place.inspection_score <= 80 %}
                    <span class="badge bg-warning">{{ place.inspection_score }}</span>
                {% else %}
                    <span class="badge bg-danger">{{ place.inspection_score }}</span>
                {% endif %}
        </div>
        <!-- Second column end -->
    </div>
    <!-- First row end -->

    <!-- Second row -->
    <div class="row mb-10 justify-content-evenly">
        <div class="col-lg-12">
            <h3 class="page-header mb-5">More places around here</h3>
        </div>
        {% for food_place in food_places %}
        <div class="col-sm-3 col-xs-6">
            <div class="card " style="width: 250px">
                <a href="{% url 'detail' place_id=food_place.id %}">
                    <img class="card-img-top" style="height: 200px; object-fit:cover;" src="{{ photos|random }}" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title mb-1 text-truncate">
                        <a href="{% url 'detail' place_id=food_place.id %}"> {{ food_place.business_name }} </a>  
                    </h5>
                    <p class="card-text">
                        <span class="text-primary">Score:</span> 
                        <span class="badge bg-success"> {{ food_place.inspection_score }} </span>
                    </p>
                </div>
                <div class="card-footer text-muted text-truncate">
                    <span class="badge rounded-pill bg-tertiary">
                        #{{ food_place.risk_category}}
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Second row end -->
    
    <!-- comments -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header mb-5">Leave a comment</h3>
        </div>
        {% for comment in comments %}
        <div class="col-12">
            <div class="card my-3">
                <div class="card-header">
                    <span class="" style="color:#1C6BF4">{{ comment.user }}</span>
                    <span class="badge text-black" style="background-color:#F3F4F6;">{{ comment.created_at|timesince }} ago</span>
                </div>
                <div class="card-body" style="background-color:#F9FAFB; font-style:italic;">
                    <p class="card-text text-sm">{{ comment.comment }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- comments end -->
    <!-- create comments -->
    <form action="{% url 'add_comment' place_id=place.id %}" method="POST" class="my-3">
        {% csrf_token %}
        <label for="comment" class="form-label mb-3">Comment</label>
        <div class="input-group">
            <textarea name="comment" class="form-control custom-control" rows="3" style="resize:none"></textarea>     
            <button type="submit" class="input-group-addon btn btn-primary">Comment</button>
        </div>
    </form>
    <!-- create comments end -->
</div>
<!-- Container end here-->

{% endblock %}