{% extends '_base.html' %}
{% load static %}
{% block content %}


{% include 'header.html' %}

<div class="container px-0" style="margin-bottom: 80px">

    <!--SEARCH BOX STARTS HERE -->
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-5">
            <input name="search_term" id="tags" type="text" class="form-control" placeholder="Search for any store nearby..">
            <button type="submit" class="btn btn-outline-secondary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
    <!--SEARCH BOX END HERE -->

    {% if search_term %}
        <p class="card-text mb-5">
            <span class="badge rounded-pill text-black">
                Showing 2 of 100 results for "{{ search_term }}"
            </span>
        </p>
    {% else %}
    <p class="card-text mb-5">
        <span class="badge rounded-pill text-black">
            Showing 50 of {{ len }} food places
        </span>
    </p>
    {% endif %}

    
    <!--CARD ITERARION STARTS HERE -->
    <div class="row infinite-container  justify-content-evenly">
        {% for food_place in food_places %}
            <div class="col-lg-3 pb-4 infinite-item">
                <div class="card mb-5"  id="card-style" style="width: 250px">
                    <a href="{% url 'detail' place_id=food_place.id %}">
                        <img class="card-img-top" style="height: 200px; object-fit:cover;" src="{{ photos|random }}" alt="">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mb-1 text-truncate" >
                            <a href="{% url 'detail' place_id=food_place.id %}"> {{ food_place.business_name }} </a>  
                        </h5>
                        <p class="card-text">
                            <span class="text-primary">Score:</span> 
                            {% if food_place.inspection_score > 80 %}
                                <span class="badge bg-success">{{ food_place.inspection_score }}</span>
                            {% elif food_place.inspection_score > 60  and food_place.inspection_score < 80 %}
                                <span class="badge bg-danger">{{ food_place.inspection_score }}</span>
                            {% else %}
                                <span class="badge bg-warning">{{ food_place.inspection_score }}</span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer text-muted text-truncate">
                        <span class="badge rounded-pill bg-tertiary">
                            #{{ food_place.risk_category}}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--CARD ITERARION END HERE -->
</div>
<!-- pagination -->
<div class="d-flex justify-content-center" style="bottom:80px; position: relative;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if food_places.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ food_places.previous_page_number }}">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>
            {% endif %}

            {% if food_places.number|add:'-4' > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ food_places.number|add:'-5' }}">&hellip;</a>
                </li>
            {% endif %}

            {% for i in food_places.paginator.page_range %}
                {% if food_places.number == i %}
                    <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        {{ i }}
                    </span>
                </li>
                {% elif i > food_places.number|add:'-5' and i < food_places.number|add:'5' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if food_places.paginator.num_pages > food_places.number|add:'4' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ food_places.number|add:'5' }}">&hellip;</a>
                </li>
            {% endif %}

            {% if food_places.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ food_places.next_page_number }}">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

    <script>
        $( function() {
                var availableTags = [
                    {% for food_place in all_places %}
                        "{{food_place.business_name}}",
                    {% endfor %}
                ];
                $( "#tags" ).autocomplete({
                    source: availableTags
                });
            } );
    </script>

{% endblock %}