{% extends '_base.html' %}
{% load static %}
{% block content %}


<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3">
    <div class="container-xl">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img src="https://preview.webpixels.io/web/img/logos/clever-primary.svg" class="h-8" alt="...">
        </a>
        <!-- Navbar toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->
            <div class="navbar-nav mx-lg-auto">
                <a class="nav-item nav-link active" href="#" aria-current="page"> Restaurants </a>
                <a class="nav-item nav-link" href="#"> Top picks </a>
                <a class="nav-item nav-link" href="#"> Categories </a>
            </div>
            <!-- Right navigation -->
            {% if user.is_authenticated %}
                <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                    <a href="{% url 'logout' %}" class="btn btn-sm btn-primary w-full w-lg-auto"> Logout </a>
                </div>
            {% else %}
                <div class="navbar-nav ms-lg-4">
                    <a class="nav-item nav-link" href="{% url 'signin' %}"> Sign in </a>
                </div>
                <!-- Action -->
                <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                    <a href="{% url 'register' %}" class="btn btn-sm btn-primary w-full w-lg-auto"> Register </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container" style="margin-bottom: 80px">

    <!--SEARCH BOX STARTS HERE -->
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-5">
            <input name="search_term" type="text" class="form-control" placeholder="Search for any store nearby..">
            <button type="submit" class="btn btn-outline-secondary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
    <!--SEARCH BOX END HERE -->

    {% if search_term %}
        <p class="card-text mb-5">
            <span class="badge rounded-pill text-black">
                Showing 2 of 100 results for "{{ search_term }}"
            </span>
        </p>
    {% else %}
    <p class="card-text mb-5">
        <span class="badge rounded-pill text-black">
            Showing 50 of {{ len }} food places
        </span>
    </p>
    {% endif %}

    
    <!--CARD ITERARION STARTS HERE -->
    <div class="row infinite-container">
        {% for food_place in food_places %}
            <div class="col-lg-3 pb-4 infinite-item">
                <div class="card mb-5" style="width: 250px">
                    <a href="{% url 'detail' %}">
                        <img class="card-img-top" style="height: 200px; object-fit:cover;" src="{{ photos|random }}" alt="">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mb-1 text-truncate" >
                            <a href=""> {{ food_place.business_name }} </a>  
                        </h5>
                        <p class="card-text">
                            <span class="text-primary">Score:</span> 
                            {% if food_place.inspection_score > 80 %}
                                <span class="badge bg-success">{{ food_place.inspection_score }}</span>
                            {% elif food_place.inspection_score > 60  and food_place.inspection_score < 80 %}
                                <span class="badge bg-danger">{{ food_place.inspection_score }}</span>
                            {% else %}
                                <span class="badge bg-warning">{{ food_place.inspection_score }}</span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer text-muted text-truncate">
                        <span class="badge rounded-pill bg-tertiary">
                            #{{ food_place.risk_category}}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--CARD ITERARION END HERE -->
</div>
<div class="d-flex justify-content-center" style="bottom:80px; position: relative;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if food_places.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ food_places.previous_page_number }}">
            <i class="bi bi-chevron-left"></i>
            </a>
        </li>
        {% endif %}
        {% for i in food_places.paginator.page_range %}
            {% if food_places.number == i %}
                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if food_places.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ food_places.next_page_number }}">
            <i class="bi bi-chevron-right"></i>
            </a>
        </li>
        {% endif %}
        </ul>
    </nav>
</div>
    <script src="{% static 'js/scroll.js' %}"></script>

{% endblock %}